.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-single);
}

.title {
  font-size: var(--sub-text);
  font-style: italic;
}
