.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-double);
}

.date {
    font-size: var(--sub-text);
    color:var(--grey);
}

.title {
    font-size: var(--text);
}

.views {
    margin-left: auto;
    flex-basis: auto;
    font-size: var(--sub-text);
    color: var(--grey);
}

.hovered {
    cursor: pointer;
    color: var(--grey);
}

@media only screen and (max-width: 555px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-half);
    }

    .views {
        margin-left: 0;
    }
}