.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-double);
}

.date {
    font-size: var(--sub-text);
    color:var(--grey);
}

.title {
    font-size: var(--text);
}

.views {
    margin-left: auto;
}

.hovered {
    cursor: pointer;
    color: var(--grey);
}