.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-single) 0;

}
.date {
    font-size: var(--sub-text);
    color:var(--grey);
}

.note {
    font-size: var(--text);
}

.author {
    font-size: var(--text);
}

.leftWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-single);
}
