.h1 {
    font-size:var(--heading);
    font-weight: bold;
    margin: var(--gap-single) 0;
}

.h2 {
    font-size:var(--sub-heading);
    font-weight: bold;
}

.p {
    font-size: var(--text);
    line-height: var(--title);
    margin: var(--gap-single) 0;
}