.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-double);
    width: 100%;
    flex-grow: 1;
    font-size: var(--sub-text);
}

.border {
    height: 0.1px;
    background: var(--grey-50);
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--main-content);
    padding: 0 var(--gap-single);
}

.text {
    color: var(--grey);
    text-align: left;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: var(--gap-single);
}

.year {
    color: var(--grey);
    font-size: var(--sub-text);
}
