.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-half);
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-quarter);
}

.text {
    color: var(--grey);
    font-size: var(--sub-text);
    max-width: 70%;
}

.animatedArrow {
    transition: var(--transition);
}

.top:hover {
    .animatedArrow {
        transform: translate(5px, -5px) rotate(-45deg);
        transition: var(--transition);
    }
}