.container {
    display: inline;
    place-content: center;
    background: var(--grey-50);

    padding: var(--gap-eighth) var(--gap-half);
    border-radius: var(--small-border-radius);
    // if you want the classic terminal look, uncomment the following line
    // font-family: monospace
}


[data-theme='light'] {
    // add your styles here
    .container {
        background: var(--background-white-90);
    }
}