.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-double);
    margin-bottom: var(--gap-double);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-double);
}

.title {
    font-size: var(--title);

}

.text {
    font-size: var(--text);
    line-height: var(--title);
}

.stuffWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5rem;
}

.stuffItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-single);
}

.stuffItemTitle {
    font-weight: bold;
}

.stuffItemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-double);
}

.contactListWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-single);
}

.contactListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-single);
    cursor: pointer;   
}

.animatedArrow {
    transition: var(--transition);
}

.contactListItem:hover {
    .animatedArrow {
        transform: translateX(0.5rem);
        transition: var(--transition);
    }
}