.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-double);
  padding-bottom: var(--gap-double);
}

.topicContainers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-double);
  width: 100%;
  margin: auto;
}

.postListItemContainer {
  transition: opacity 0.3s;
  width: 100%;
}

.postListItemContainer:hover {
  opacity: 1;
}

.postListItemContainer:not(:hover) {
  opacity: 0.5;
}

.postList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-double);
  padding-top: var(--gap-double);
  width: 100%;
  margin: auto;
}

.topic {
  font-size: var(--text);
  color: var(--grey);
  font-weight: 600;
}
