.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: var(--gap-double);  
    padding-bottom: var(--gap-double);
}

.yearContainers {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap-double);
    width: 100%;
    margin: auto;
}

.postListItemContainer {
    transition: opacity 0.3s;
    width: 100%;
  }
  
  .postListItemContainer:hover {
    opacity: 1; /* Keep the hovered one fully opaque */
  }
  
  .postListItemContainer:not(:hover) {
    opacity: 0.5;
  }
  

.postList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-double);
    padding-top: var(--gap-double);
    // make this take up full width
    width: 100%;
    margin: auto;

}

.year {
    font-size: var(--text);
}



