.nav {
    z-index:10;
    margin: 0 auto var(--gap-double) auto;
    position: sticky;
    padding: var(--gap-single) var(--gap-double) var(--gap-single) var(--gap-double);
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--background-black);
    transition: var(--theme-transition);
    width: 100%;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // align-self: stretch;
    max-width: calc(var(--main-content) + var(--gap-double)); // adjust for how you want it to look
}

.rightWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-double);
}

[data-theme='light'] {
    .nav {
        background: var(--background-white);
    }
}